on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: nixbuild/nix-quick-install-action@master
      - run: |
          git clone https://github.com/phanirithvij/nixpkgs --depth 1 --branch swapspace-module-no-pr
          cd nixpkgs
          nix-build -A nixosTests.swapspace
          for i in {1..100}; do echo $i > run; nix-build -A nixosTests.swapspace --check || break; done
